.pos {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

	white-space:nowrap;
	font-size: 9pt;
	border: #000000 1px solid;
	position: absolute;
	color: #000000;
	padding-top: 1px; 
	padding-left: 2px; left: 0px;
	z-index: 2;
	line-height: 12pt;
	top: 0px; padding-right: 2px;
	background-color: #ffffe1
}
.pos:hover{
	background-color: #4CAF50; /* Green */
    color: white;
    cursor:pointer;
}